Sep. 26, 2019

**Write your names in the cell below**

**Write names of the 4 variables assigned to your group** (based on file variable_assignments.txt)

In [ ]:
smokday2,chccopd1,menthlth,height3

****

## Overview of the Data

The BRFSS (Behavioral Risk Factor Surveillance System) data was collected during the period 2013-2014 via monthly telephone-based surveys of randomly selected persons in the US. The rows in this data represent unique persons and the columns represent various demographic, life style, behavioral and health-related information about the interviewed persons.  Data website: https://www.cdc.gov/brfss/annual_data/annual_2013.html

All variables in this dataset are coded (represented) with numeric values, but many of them are truly categorical.

****

<font color='red'> **Files you will need ** </font> 

- File `brfss2013_sub.csv` : contains the data.
- File `data_codebook.html` : contains information about the data variables.
- File `variable_assignments_ISID.txt` : contains names of variables assigned to each group.
- File `TP2_Data_Cleaning.ipynb` : contains source code.

<font color='red'> **What you will do** </font> 

- Follow the instructions below and answer the questions.

- Your answers will generally consist of a mix of code and explanations.

- Feel free to create new cells to write your answers.

- Submit your modified .ipynb file containing your answers to the questions below.

******

## Useful functions and methods


**Data exploration**

- head, shape, columns, describe, value_counts, unique, nunique, plot

**Data type conversions**

- `pd.to_numeric` (Pandas function)
- `astype` (Pandas method)

**Dealing with missing values**
- `isna` (Pandas method)
- `fillna` (Pandas method)
- `dropna` (Pandas method)

*****

- to execute a cell, <font color='red'>shift+enter</font>
- to insert a new cell, press the <font color='red'>**+** button</font> in the top menu
- to obtain <font color='red'>help</font> about any method or function use ?

?pd.read_csv

?df.idate.isnull

## Part 1: Read the Data

Answer the following questions.  You need to write python code for some questions.

1. Read the data in file `brfss2013_sub.csv` and store it in a data frame called `df`
2. How many rows and columns are in this data frame?
3. What are the names and true types of the first 5 columns?
4. Are any of these first 5 columns useful for data mining? Explain.

In [1]:
import numpy as np
import pandas as pd

In [2]:
from matplotlib import pyplot as plt
%matplotlib inline

In [8]:
df=pd.read_csv('brfss2013_SUB.csv')

In [9]:
df.shape

(100000, 91)

In [10]:
df.head()

,idate,imonth,iday,iyear,dispcode,seqno,ladult,numadult,nummen,numwomen,...,seatbelt,flushot6,flshtmy2,tetanus,pneuvac3,hivtst6,hivtstd3,whrtst10,x.imprace,x.age.g
0,4302013,4,30,2013,1100,2013009711,NaN,1.0,0.0,1.0,...,1.0,1.0,102012.0,1.0,1.0,1.0,82012.0,4.0,1,5
1,4242013,4,24,2013,1100,2013003472,NaN,1.0,1.0,0.0,...,1.0,1.0,92012.0,4.0,1.0,2.0,NaN,NaN,1,5
2,10232013,10,23,2013,1100,2013006428,NaN,1.0,0.0,1.0,...,1.0,1.0,102013.0,4.0,1.0,2.0,NaN,NaN,1,6
3,1192013,1,19,2013,1100,2013000091,NaN,1.0,0.0,1.0,...,1.0,2.0,NaN,4.0,2.0,2.0,NaN,NaN,6,6
4,12052013,12,5,2013,1100,2013004518,NaN,1.0,0.0,1.0,...,1.0,2.0,NaN,4.0,2.0,2.0,NaN,NaN,1,6

In [11]:
df.dtypes

idate          int64
imonth         int64
iday           int64
iyear          int64
dispcode       int64
seqno          int64
ladult       float64
numadult     float64
nummen       float64
numwomen     float64
genhlth      float64
physhlth     float64
menthlth     float64
poorhlth     float64
hlthpln1       int64
persdoc2       int64
medcost        int64
checkup1       int64
sleptim1       int64
bphigh4      float64
bpmeds       float64
bloodcho       int64
cholchk      float64
toldhi2      float64
cvdinfr4     float64
cvdcrhd4       int64
cvdstrk3       int64
asthma3        int64
asthnow      float64
chcscncr       int64
              ...
drnk3ge5     float64
maxdrnks     float64
fruitju1     float64
fruit1       float64
fvbeans      float64
fvgreen      float64
fvorang      float64
vegetab1     float64
exerany2     float64
exract11     float64
exeroft1     float64
exerhmm1     float64
exract21     float64
exeroft2     float64
exerhmm2     float64
strength     float64
lmtjoin3     float64
arthdis2     float64
arthsocl     float64
joinpain     float64
seatbelt     float64
flushot6     float64
flshtmy2     float64
tetanus      float64
pneuvac3     float64
hivtst6      float64
hivtstd3     float64
whrtst10     float64
x.imprace      int64
x.age.g        int64
Length: 91, dtype: object

******

## Part 2: Data Exploration and Cleaning

Answer the questions below.

1. Create a list called `my_vars_names` containing the names of the 4 variables that were assigned to your group.

2. Create a new data frame called `my_df` as a subset of `df` containing only the columns in `my_vars_names`.

3. Verify the shape of this new data frame; Make sure its number of rows is the same as in `df`.

4. Determine the **true** type of each variable based on its description in file `data_codebook.html`; is it *categorical*, *discrete*, *continuous*, or **other** ?

5. For each truly *categorical* variable, convert it to the *category* type by calling the `astype` method ...

6. For each numeric variable, determine the unit(s) of measurement of its values based on the description in file `data_codebook.html`. For example: number of times per week; kilograms, etc.  **Be careful**: some variables contain values with different measurement units. For example, the **weight2** variable contains both values in *pounds* and values in *kilograms*! ...

7. For each numeric variable, determine whether it contains any invalid values; that is, values that are inconsistent with the variable's description in file `data_codebook.html`. **Hint**: the `describe` and `unique` methods are helpful ...

8. For each numeric variable, determine whether it contains outliers. **Hint1**: start by visualizing the distribution of the variable using a boxplot or histogram.  **Hint2**: if your variable has multiple units of measurement, use different plots for different units ...

9. For each categorical variable, how many categories does it have? **Hint**: call the `nunique` and/or `value_counts` methods ...

10. For each variable, if it contains **implicitly** encoded missing values, then replace those values with the explicit NAN value `np.nan`

11. How many missing values does each variable contain? **Hint**: call the `isnull` method followed by the `sum` method ...

12. Which variables should be removed because they contain too many missing values (more than 30%)?  **Hint**: call `isnull` followed by `mean` in order to obtain the fraction of missing values for each variable.

13. Remove all variables from `my_df` that contain more than 30% missing values. Put the result in a new data frame called `my_df_without_noisy_variables`. Display the shape of this data frame.

14. Remove all rows from `my_df` that contain missing values by calling the `dropna` method. Put the result in a new data frame called `my_df_without_missing`.  Display the shape of this new data frame.  **Hint**: carefully read the documentation of the `dropna` method using the command `?my_df.dropna`.

15. Based on the result of the previous question, do you think it's a good idea to handle missing values by removing the entire row? Explain.

16. For each numeric variable that has less than 30% missing values, replace its missing values with its *median* value, and put the result in the SAME data frame `my_df`. You should call the `fillna` method SEPARATELY on each variable, with the parameter `inplace=True`.

17. For each categorical variable that has less than 30% missing values, replace its missing values with the *most frequent* value and put the result in the SAME data frame `my_df`, by calling the `fillna` method SEPARATELY on each variable, with `inplace=True`.

In [12]:
my_vars_names=['smokday2','chccopd1','menthlth','height3']

In [13]:
my_df=df[my_vars_names]

In [14]:
my_df.shape

(100000, 4)

In [15]:
my_df.head()

   smokday2  chccopd1  menthlth  height3
0       2.0       2.0       1.0    501.0
1       2.0       2.0      88.0    602.0
2       3.0       2.0      88.0    503.0
3       3.0       2.0      88.0    500.0
4       NaN       2.0      15.0    503.0

In [16]:
my_df.dtypes

smokday2    float64
chccopd1    float64
menthlth    float64
height3     float64
dtype: object

In [17]:
my_df['smokday2']=my_df['smokday2'].astype('category')
my_df['chccopd1']=my_df['chccopd1'].astype('category')

/home/ubuntu/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/ubuntu/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

*****